

header{
    background-size:cover;
    background-color: #f8fafc;
    .top-nav{
        display: flex;
        justify-content: space-between;
        padding:10px 0;
        align-items: flex-start;
        margin-bottom: 1%;
       
        .logo{
            justify-content: space-between;
            font-weight: bold;
            font-size: 30px;
            color:black;
            
        }
        .centre{
          display: flex;
          justify-content: space-between;
        
       
        ul{
            
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            
          
        }
          li {
            list-style: none;
            position: relative;
            padding-left: 50px;
        }
      }
        .icon{
          display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 15%;
            .cart-count {
              display: inline-block;
         
             
              color: #116ac4;
              line-height: 0;
              border-radius: 50%;
              font-size: 20px;
    
              span {
                display: inline-block;
                padding-top: 50%;
                padding-bottom: 50%;
                margin-left:6px;
                margin-right:6px;
              }
            
        }
      }
        a{
            margin-left: 0%;
            color: black;
            &:hover{
                color: red;
            }
        }
    }
  }