
header{
    background-size:cover;
    background-color: #f8fafc;
    .top-nav{
        display: flex;
        justify-content: space-between;
        padding:60px 0;
        align-items: flex-start;
       
        .logo{
            justify-content: space-between;
            font-weight: bold;
            font-size: 30px;
            color:black;
            
        }
        .centre{
          display: flex;
          justify-content: space-between;
        
        .dropdown {
            
            overflow: hidden;
          
           .dropbtn {
            border: none;
            outline: none;
            background-color: inherit;
            font-family: 'Montserrat', Arial, sans-serif;
            font-weight: bold;
            margin: 10;
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
          .dropdown-content a:hover {
            background-color: #ddd;
          }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }}
        ul{
            
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            
          
        }
          li {
            list-style: none;
            position: relative;
            padding-left: 11px;
        }
      }
        .icon{
          display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 15%;
        }
        a{
            margin-left: 0%;
            color: black;
            &:hover{
                color: red;
            }
        }
    }
  }