@import url(https://fonts.googleapis.com/css?family=Nunito);html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #212121;
}

a:visited {
  color: #212121;
}

h1,
h2 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1920px;
  margin: auto;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
.product-section-subtitle,
.product-section-price {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  line-height: 1.2;
}

h1.stylish-heading {
  margin-bottom: 60px;
  position: relative;
}

h1.stylish-heading:before,
h1.stylish-heading:after {
  position: absolute;
  top: -4px;
  left: 0;
  width: 66px;
  height: 1px;
  background: #212121;
  content: "";
  display: block;
}

h1.stylish-heading:after {
  bottom: -14px;
  top: auto;
}

h2 {
  font-size: 22px;
}

header {
  background-size: cover;
  background-color: #f8fafc;
}

header .top-nav {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  align-items: flex-start;
}

header .top-nav .logo {
  justify-content: space-between;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

header .top-nav .centre {
  display: flex;
  justify-content: space-between;
}

header .top-nav .centre .dropdown {
  overflow: hidden;
}

header .top-nav .centre .dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  margin: 10;
}

header .top-nav .centre .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .top-nav .centre .dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

header .top-nav .centre .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

header .top-nav .centre .dropdown .dropdown:hover .dropdown-content {
  display: block;
}

header .top-nav .centre ul {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

header .top-nav .centre li {
  list-style: none;
  position: relative;
  padding-left: 11px;
}

header .top-nav .icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 15%;
}

header .top-nav a {
  margin-left: 0%;
  color: black;
}

header .top-nav a:hover {
  color: red;
}

header .hero {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 4fr;
  grid-gap: 100px;
  grid-row-gap: 15px;
  padding-top: 20px;
  padding-bottom: 84px;
}

header .hero .ac-image {
  background-color: #FF2162;
}

header .hero .categorys {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .hero .categorys .hero-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  font-size: 25px;
  height: 25%;
}

.featured-section {
  padding: 50px 0;
}

.featured-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px 30px;
}

.featured-section .products .product-price {
  color: #F5F5F5 !important;
}

.shit {
  color: red;
}

