.hero{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 4fr;
    grid-gap: 40px;
    grid-template-rows: 720px;
      
    .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 20%;
    margin: auto;
  }
    
    .categorys{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        h1{
            color: #FF2162;
        }
        .hero-buttons{
            
            display:flex ;
            flex-direction: column;
            justify-content: space-around;
            align-content: space-around;
            font-size: 25px;
            height: 25%;
           
        }
    }
}





.pr-show {
    display: grid;
    grid-template-rows: 1fr 8fr;
            h1{
                text-align: center;
            }

            .product-photos{

                display: grid;
                grid-template-columns: 2fr 3fr ;
                grid-template-rows: 1fr ;
                grid-gap: 20px 20px ;
                align-items: center;
                .big-image{

                   align-content: center;

                }
                .p_6x6{
                    display: grid;
                    grid-template-rows: 1fr 5fr;    
                    align-items: center;
                    .photo6x6{
                        
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-gap: 20px 20px;


                    }

                }

            }

}


.featured-section {
    padding: 50px 0;
    
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 60px 30px ;
    
        .product-price {
            color: rgb(19, 18, 18) !important;
        }
    }
    }





