.user{
    .spann{
    float: left; 
    width: 250px;
    font-weight: bold;
  img { 
    cursor: pointer;
  }
}
    
    p {
        display: block;
        font-size: 1.4em;
        line-height: 1.55em;
        margin-bottom: 22px;
        color: #555;
      }
    .setting {
        display: block;
  font-weight: normal;
  padding: 7px 3px;
  border-top: 1px solid #d6d1af;
  margin-bottom: 5px;
    }
}