
  
  .invoice {
    background: #fff;
    width: 100%;
    padding: 50px;
  }
  
  .logo {
    width: 2.5cm;
  }
  
  .document-type {
    text-align: right;
    color: #444;
  }
  
  .conditions {
    font-size: 0.7em;
    color: #666;
  }
  
  .bottom-page {
    font-size: 0.7em;
  }